<h3>Courses</h3>

<%= form_for(@course) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, size: '20', placeholder: 'Name' %>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div>
    <%= f.label 'Time Zone (# of hours + UTC)' %>
    <%= f.number_field :timezone, step: 1 %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, size: '20' %>
  </div>
  <div>
    <%= f.submit 'Create' %>
  </div>
<% end %>

<table style="width: 1000px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Timezone (utc + hours)</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <div style="border-top: 50px solid transparent">
      <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course_path(course) %></td>
          <td><%= course.start_date %></td>
          <td><%= course.end_date %></td>
          <td>+<%= course.timezone %> hrs</td>
          <td><%= course.description %></td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>
